#calendar-content-table{
    width: 100%;
    border: 1px solid black;
}

.calendar-content-table-cell-header,
.calendar-content-table-cell{
    width: auto;
    border: 1px solid black;
}

.new-event-dialog-notice{
    font-size:10px;
}

.event-btn{
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    font-size: 13px;
}